

@{
    ViewData["Title"] = "Strona Główna";
}<head>
    <!-- Dodanie Bootstrap CSS -->
    <style>
       
        header {
            background-color: #f8f9fa;
        }

        .jumbotron {
            background-image: url('https://a.assecobs.com/_img/wmbikesb2c/005cc7f8-a5c0-4ca8-870e-65f609c290a3/rower-cube-aim-slx-601500-l-20-.jpg');
            background-size: cover;
            color: white;
            text-align: center;
            padding: 100px 20px;
            margin-bottom: 0;
        }

        .feature-box {
            text-align: center;
            margin: 40px 0;
        }

        .feature-icon {
            font-size: 3em;
            margin-bottom: 10px;
        }
    </style>
</head>

<br />
<div class="jumbotron">
    <h1 class="display-4">Witaj w wypożyczalni Maglownica!</h1>
    <p class="lead">Naszą misją jest wypożyczanie rowerów na każdą okazję i w każdej chwili.</p>
    <hr class="my-4">
    <p>Sprawdź naszą różnorodną ofertę</p>
    <a class="btn btn-primary btn-lg" href="Rowers/oferta" role="button">Oferta</a>
</div>




<div class="container">
    <div class="row">
        <div class="col-md-4 feature-box">
            <i class="feature-icon fas fa-rocket"></i>
            <h3>Szybkość</h3>
            <p>Szybkie i efektywne usługi dostosowane do Twoich potrzeb.</p>
        </div>
        <div class="col-md-4 feature-box">
            <i class="feature-icon fas fa-cogs"></i>
            <h3>Elastyczność</h3>
            <p>Elastyczność w dostosowywaniu naszych usług do Twoich oczekiwań.</p>
        </div>
        <div class="col-md-4 feature-box">
            <i class="feature-icon fas fa-heart"></i>
            <h3>Pasja</h3>
            <p>Z pasją i zaangażowaniem dostarczamy najlepsze rozwiązania dla naszych klientów.</p>
        </div>
    </div>
</div>
<!-- Sekcja z funkcjami/usługami -->

<div class="container marketing">


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Razem czy osobno? Wypróbuj jeden z historycznych rowerów</h2>
            <p class="lead">Zapomnij o zwykłych spacerach czy tradycyjnych rowerach – teraz możesz poczuć się jak bohater filmu, przemierzając ulice miasta w stylu. Rikszą podróż jest nie tylko ekscytująca, ale również ekologiczna, co sprawia, że Twoje doświadczenie staje się jeszcze bardziej satysfakcjonujące.</p>
        </div>
        <div class="col-md-5 pierwszy">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://indigodecor.pl/wp-content/uploads/2020/04/riksza-indigodecor-pl-600x401.jpg" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">A może jesteś profesjonalistą i potrzebujesz roweru, który da radę w trudnych warunkach? </h2>
            <p class="lead">Nasze rowery górskie są wyposażone w zaawansowane technologie, które pozwalają radzić sobie z różnorodnym terenem. Bez względu na to, czy zmierzasz na wymagające szlaki górskie, zakręcone ścieżki leśne czy kamieniste tereny, nasze rowery są gotowe na każde wyzwanie.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://www.cyclo-centrum.pl/wp-content/uploads/2021/04/marlin7-trek-rower.jpg" />
        </div>
    </div>

    <hr class="featurette-divider">
</div>
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="https://thispersondoesnotexist.com/" alt="Generic placeholder image" width="140" height="140">
            <h2>Niesamowity kontakt z klientem</h2>
            <p>Dziękuję na ślubie Riksza była niesamowitą atrakcją serdecznie polecam!</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="https://thispersondoesnotexist.com/" alt="Generic placeholder image" width="140" height="140">
            <h2>Profesjonalizm</h2>
            <p>Dziekuję Bardzo! Dzięki patronatowi oraz sprzętowi z "Maglownicy" udało mi sie ukończyć Triathlon mam nadzieję że to nie koniec współpracy. Polecam!</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="https://thispersondoesnotexist.com/" alt="Generic placeholder image" width="140" height="140">
            <h2>Szybka obsługa</h2>
            <p>Fenomenalna obsługa! Zadzwoniłem, a po dwóch godzinach rowery były gotowe do jazdy. Dzięki temu pojechaliśmy całą rodziną na przejażdżkę po górach dzięki!</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

   
</div>
<h1>80% zadowolonych klientów!</h1>
<div class="progress">

    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="74" aria-valuemin="0" aria-valuemax="75" style="width: 75%"></div>
</div>






